*~
*.d
*.o
*.so*
*.docstring.h
cscope*
*.pyc

core*

debian/*.log
debian/*.substvars
debian/*-stamp
debian/*.debhelper
debian/files
debian/*/

show_globals_from_elf_file
show_globals_from_this_process
show_globals_from_this_process_viaso
